<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    {% block title %}
      <title>Alkibiades</title>
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/styles/styles.css' %}" />
  </head>
  <body>
    {% block nav %}
      <ul id="nav">
        <li>
          <a href="{% url 'index' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'blog' %}">Blog</a>
        </li>
        <li>
          <a href="{% url 'friends' %}">Friends</a>
        </li>
        <li>
          <a href="{% url 'about' %}">About</a>
        </li>
        <li>
          <a href="{% url 'contact' %}">Contact</a>
        </li>
      </ul>
      <hr />
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}
      <footer>
        <p>
          <i>Created by Victory (Victor) Ma</i>
        </p>
        <p>
          <a href="https://victoryma8.github.io/" target="_blank">Portfolio</a>
        </p>
      </footer>
    {% endblock %}
  </body>
</html>
